<div class = "task">
  <p>Task</p>
  <p><%= task.content %></p>
  <p><%= link_to "Delete Task", user_task_path(user, task), method: :delete, data: { confirm: "Are you sure?" } %></p>
</div>


<!--

  <div class = "task-subtasks">
    <h4>Subtasks of this task:</h4>
    <% task.subtasks.each do |subtask|%>
      <%= render partial: "subtasks/show", locals: { user: user, task: task, subtask: subtask } %>
    <% end %>
    <%= render partial: "subtasks/new", locals: { user: user, task: task } %>
  </div>

  <div class = "task-lists">
    <h4>Lists of this task:</h4>
    <%= render partial: "tasks_lists/index", locals: { user: user, task: task }%>
  </div>
-->
