<h1>User: <%= @user.username %></h1>

<h2>Unsorted Tasks</h2>
<%= render partial: "tasks/new" %>
<div class = "tasks-unsorted">
  <% @user.tasks.each do |task|%>
    <% if task.lists.none? %>
      <%= render partial: "tasks/show", locals: { task: task } %>
    <% end %>
  <% end %>
</div>

<div class = "lists">
  <% @user.lists.each do |list|%>
    <%= render partial: "lists/show", locals: { list: list }%>
  <% end %>
</div>

<h2>User Lists</h2>
<%= render partial: "lists/index" %>


<%= link_to edit_user_registration_path do %>
  <h2>Profile Settings</h2>
<% end %>

<h2>Navigation</h2>
<p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
