<%= render partial: "shared/navi"%>
<div class = "columns">
  
  <div class = "column column-left">
    <%= render partial: "lists/index" %>
  </div>

  <div class = "column column-center">
    <%= render partial: "tasks/new" %>

    <%= render partial: "tasks/index_unsorted"%>

    <% @user.lists.each do |list|%>
      <%= render partial: "lists/show", locals: { list: list }%>
    <% end %>
  </div>

</div>